Repository spacetelescope/stdatamodels, pull requests merged in 2023-06, with the labels that each got.

#164 Update of outlierpars file for IFU outlier detection
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/__init__.py
  src/stdatamodels/jwst/datamodels/outlierifuoutput.py
  src/stdatamodels/jwst/datamodels/schemas/outlierifuoutput.schema.yaml
  src/stdatamodels/jwst/datamodels/schemas/outlierpars.schema.yaml
Labels: jwst datamodels

#165 Improve backwards transform speed for NRC_WFSS
  CHANGES.rst
  src/stdatamodels/jwst/transforms/models.py
Labels: jwst transforms, nircam, wfss

#170 fix changelog
  CHANGES.rst
Labels: no-changelog-entry-needed

#167 added ifu_second_check to outlier detection parameter
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/outlierpars.schema.yaml
Labels: jwst datamodels

#166 update to JWST/MIRI MRS photom data model
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/photom.py
  src/stdatamodels/jwst/datamodels/schemas/mirmrs_photom.schema.yaml
Labels: jwst datamodels

#172 catch expected NoTypeWarnings in tests
  src/stdatamodels/jwst/datamodels/tests/test_open.py
  src/stdatamodels/jwst/datamodels/tests/test_schema_against_crds.py
Labels: testing, no-changelog-entry-needed

#173 JP-3096: Add new JWST keywords to track CR's detected by the jump step
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/core.schema.yaml
Labels: jwst datamodels

#174 OIFITS compatible schema and AmiOIModel
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/__init__.py
  src/stdatamodels/jwst/datamodels/amioi.py
  src/stdatamodels/jwst/datamodels/schemas/amioi.schema.yaml
  src/stdatamodels/jwst/datamodels/schemas/oifits.schema.yaml
  src/stdatamodels/jwst/datamodels/tests/test_models.py
Labels: jwst datamodels, datamodels

#176 JP-2506: Updating How the ZEROFRAME Array gets Allocated
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/ramp.py
  src/stdatamodels/properties.py
Labels: jwst datamodels
