Repository spacetelescope/stdatamodels, pull requests merged in 2023-09, with the labels that each got.

#196 JP-3327: Modify mirmrsptcorr data model
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/mrsptcorr.py
  src/stdatamodels/jwst/datamodels/schemas/miri_mrsptcorr.schema.yaml
Labels: jwst datamodels

#203 JP-3244: Add dither pointing RA/Dec to schema
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/core.schema.yaml
Labels: jwst datamodels

#201 switch schema refs that use tag to uris
  CHANGES.rst
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/coords-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/coords-1.0.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/grating_equation-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/gwa_to_slit-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/logical-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/miri_ab2slice-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/nircam_grism_dispersion-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/niriss_grism_dispersion-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/niriss_soss-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/refraction_index_from_prism-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/rotation_sequence-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/slit_to_msa-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/snell-0.7.0.yaml
  src/stdatamodels/jwst/transforms/resources/schemas/stsci.edu/jwst_pipeline/v23tosky-0.7.0.yaml
Labels: jwst transforms

#205 Safely convert fitsrec in tree before serializing with asdf
  CHANGES.rst
  src/stdatamodels/fits_support.py
  src/stdatamodels/model_base.py
  src/stdatamodels/util.py
  src/stdatamodels/validate.py
Labels: FITS support

#183 JP-3304: Add error to NIRSpec flat_table
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/nirspec_flat.py
  src/stdatamodels/jwst/datamodels/schemas/nirspec_flat.schema.yaml
  src/stdatamodels/jwst/datamodels/schemas/nirspec_quad_flat.schema.yaml
  src/stdatamodels/jwst/datamodels/tests/test_models.py
  src/stdatamodels/model_base.py
Labels: enhancement, jwst datamodels, datamodels, nirspec

#208 enable devdeps testing
  .github/workflows/ci.yml
  requirements-dev.txt
  tox.ini
Labels: no-changelog-entry-needed

#210 fix numpy scalar handling in RefractionIndexFromPrism
  CHANGES.rst
  src/stdatamodels/jwst/transforms/models.py
Labels: run devdeps tests

#219 add band to GainModel schema
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/gain.schema.yaml
Labels: jwst datamodels

#224 add channel to miri apcorr schema
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/mirmrs_apcorr.schema.yaml
Labels: jwst datamodels
