Repository spacetelescope/stdatamodels, pull requests merged in 2023-04, with the labels that each got.

#151 use built-in concurrency configuration for duplicate workflows
  .github/workflows/cancel_workflows.yml
  .github/workflows/ci.yml
Labels: no-changelog-entry-needed

#152 Remove `pytest-openfiles`
  CHANGES.rst
  pyproject.toml
Labels: installation

#149 JP-3005: Update core schema for new step status keyword in metadata
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/dqflags.py
  src/stdatamodels/jwst/datamodels/schemas/core.schema.yaml
Labels: jwst datamodels

#118 add pytest no-crds option to disable tests that require crds
  README.md
  src/stdatamodels/jwst/datamodels/tests/test_schema_against_crds.py
  tests/conftest.py
Labels: no-changelog-entry-needed
