Repository spacetelescope/stdatamodels, pull requests merged in 2023-08, with the labels that each got.

#187 pin `sphinx_rtd_theme` to newer version
  docs/rtd_environment.yaml
Labels: no-changelog-entry-needed

#190 JP-3329: Add GSC_VER to JWST core schema
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/core.schema.yaml
Labels: jwst datamodels

#193 clean up some test warnings and turn warnings into errors in ci
  pyproject.toml
  tests/test_models.py
  tox.ini
Labels: no-changelog-entry-needed

#195 add weekly cron env to tox.ini to fix tox 4.9 compatibility
  tox.ini
Labels: no-changelog-entry-needed

#198 add warning filter for known issue with fgs distortion file on crds
  src/stdatamodels/jwst/datamodels/tests/test_schema_against_crds.py
Labels: no-changelog-entry-needed

#191 Fix typo in ifu-outlier metadata
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/outlierifuoutput.schema.yaml
Labels: bug, jwst datamodels

#194 (JP-3338) Change DQ flag and step name for charge migration.
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/dqflags.py
  src/stdatamodels/jwst/datamodels/schemas/core.schema.yaml
Labels: jwst datamodels

#202 remove unsupported RTD system_packages setting
  .readthedocs.yaml
Labels: no-changelog-entry-needed
