Repository spacetelescope/stdatamodels, pull requests merged in 2024-03, with the labels that each got.

#275 remove global changes to warning filters
  src/stdatamodels/jwst/datamodels/drizproduct.py
  src/stdatamodels/jwst/datamodels/multiprod.py
  tox.ini
Labels: no-changelog-entry-needed

#277 JP-3465: removed product exposure time TEXPTIME
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/core.schema.yaml
Labels: jwst datamodels

#281 limit oifits SPECTYP and TARGET to 16 characters
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/oifits.schema.yaml
Labels: jwst datamodels

#282 fix error in changelog
  CHANGES.rst
Labels: no-changelog-entry-needed

#283 JP-3558: update integration_number dtype in group schema
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/group.schema.yaml
Labels: jwst datamodels

#285 JP-3580 Update MRSPRCHN allowed values in keyword schema
  CHANGES.rst
  src/stdatamodels/jwst/datamodels/schemas/core.schema.yaml
Labels: jwst datamodels

#278 add cache for slow hdu indexing
  CHANGES.rst
  src/stdatamodels/fits_support.py
Labels: jwst datamodels, FITS support

#270 deprecate skip_fits_update
  CHANGES.rst
  docs/source/jwst/datamodels/models.rst
  src/stdatamodels/fits_support.py
  src/stdatamodels/jwst/datamodels/tests/test_models.py
  src/stdatamodels/jwst/datamodels/util.py
  src/stdatamodels/model_base.py
  tests/test_fits.py
Labels: jwst datamodels, FITS support
